<!-- ###WTCART### begin -->
<div class="wtcart_cart">
    <form name="cart" id="cart" action="###TARGET###" method="post">
        ###VARIANTS###
        <div class="wtcart_cart_header">
            <div class="wtcart_cart_col wtcart_cart_col_title">###WTCART_LL_TITLE###</div>
            <div class="wtcart_cart_col wtcart_cart_col_sku">###WTCART_LL_SKU###</div>
            <div class="wtcart_cart_col wtcart_cart_col_price wtcart_cart_right">###WTCART_LL_PRICE###</div>
            <div class="wtcart_cart_col wtcart_cart_col_qty wtcart_cart_center">###WTCART_LL_QTY###</div>
            <div class="wtcart_cart_col wtcart_cart_col_total wtcart_cart_right">###WTCART_LL_PRICE_TOTAL###</div>
            <div class="wt_cart_cleaner"><!-- --></div>
        </div>
        <div class="wtcart_cart_product">
            <!-- ###CONTENT### begin -->
            <!-- ###ITEM### begin -->
            <div class="wtcart_cart_col wtcart_cart_col_title">###TITLE###</div>
            <div class="wtcart_cart_col wtcart_cart_col_sku">###SKU###</div>
            <div class="wtcart_cart_col wtcart_cart_col_price wtcart_cart_right">###PRICE###</div>
            <div class="wtcart_cart_col wtcart_cart_col_qty wtcart_cart_center"><input type="text" value="###QTY###" name="###QTY_NAME###" onchange="this.form.submit()"/> ###DELETE###</div>
            <div class="wtcart_cart_col wtcart_cart_col_total wtcart_cart_right">###PRICE_TOTAL###</div>
            <div class="wt_cart_cleaner"><!-- --></div>
            <div class="wtcart_cart_col_error">###ERROR_MSG###</div>
            <!-- ###ITEM### end -->
            <!-- ###VARIANTITEM### begin -->
            <!-- ###VARIANTITEMALL### begin -->
            <div class="wtcart_cart_col wtcart_cart_col_title wtcart_cart_itemall">###TITLE###</div>
            <div class="wtcart_cart_col wtcart_cart_col_sku wtcart_cart_itemall">&nbsp;</div>
            <div class="wtcart_cart_col wtcart_cart_col_price wtcart_cart_itemall">&nbsp;</div>
            <div class="wtcart_cart_col wtcart_cart_col_qty wtcart_cart_itemall wtcart_cart_center">###QTY###</div>
            <div class="wtcart_cart_col wtcart_cart_col_total wtcart_cart_itemall wtcart_cart_right">###PRICE_TOTAL###</div>
            <div class="wt_cart_cleaner"><!-- --></div>
            <div class="wtcart_cart_col_error">###ERROR_MSG###</div>
            <!-- ###VARIANTITEMALL### end -->
            <!-- ###VARIANTITEMVARIANT### begin -->
            <div class="wtcart_cart_col wtcart_cart_col_title">###TITLE_WITH_VARIANTS###</div>
            <div class="wtcart_cart_col wtcart_cart_col_sku">###SKU_WITH_VARIANTS###</div>
            <div class="wtcart_cart_col wtcart_cart_col_price wtcart_cart_right">###PRICE###</div>
            <div class="wtcart_cart_col wtcart_cart_col_qty wtcart_cart_center"><input type="text" value="###QTY###" name="###QTY_NAME###" onchange="this.form.submit()"/> ###DELETE###</div>
            <div class="wtcart_cart_col wtcart_cart_col_total">###PRICE_TOTAL###</div>
            <div class="wt_cart_cleaner"><!-- --></div>
            <div class="wtcart_cart_col_error">###ERROR_MSG###</div>
            <!-- ###VARIANTITEMVARIANT### end -->
            <!-- ###VARIANTITEM### end -->
            <!-- ###CONTENT### end -->
        </div>
        <div class="wtcart_cart_footer">
            <div class="wtcart_cart_col wtcart_cart_foot_col1 wtcart_cart_netnoservice">###WTCART_LL_CART_NET###</div>
            <div class="wtcart_cart_col wtcart_cart_foot_col2 wtcart_cart_netnoservice">###CART_NET_NO_SERVICE###</div>
            <div class="wt_cart_cleaner"><!-- --></div>
            <div class="wtcart_cart_col wtcart_cart_foot_col1 wtcart_cart_servicecost">###WTCART_LL_SERVICE_COST###</div>
            <div class="wtcart_cart_col wtcart_cart_foot_col2 wtcart_cart_servicecost">###SERVICE_COST_NET###</div>
            <div class="wt_cart_cleaner"><!-- --></div>
            <div class="wtcart_cart_col wtcart_cart_foot_col1 wtcart_cart_tax">###TAXCLASS_1_STRING### ###TAXCLASS_2_STRING### ###TAXCLASS_3_STRING###</div>
            <div class="wtcart_cart_col wtcart_cart_foot_col2 wtcart_cart_tax">###CART_TAX_1### ###CART_TAX_2### ###CART_TAX_3###</div>
            <div class="wt_cart_cleaner"><!-- --></div>
            <div class="wtcart_cart_col wtcart_cart_foot_col1 wtcart_cart_gross">###WTCART_LL_GROSS_TOTAL###</div>
            <div class="wtcart_cart_col wtcart_cart_foot_col2 wtcart_cart_gross">###CART_GROSS###</div>
            <div class="wt_cart_cleaner"><!-- --></div>
        </div>
        ###SHIPPING_RADIO###
        ###PAYMENT_RADIO###
        ###SPECIAL_CHECKBOX###
        ###ADDITIONAL_LIST###
        ###CLEARCART###
    </form>
</div>
<!-- ###WTCART### end -->

<!-- ###WTCART_CONFIRMATION### begin -->
<div class="wtcart_cart">
	<form name="cart" id="cart" action="###TARGET###" method="post">
		###VARIANTS###
		<div class="wtcart_cart_header">
			<div class="wtcart_cart_col wtcart_cart_col_title">###WTCART_LL_TITLE###</div>
			<div class="wtcart_cart_col wtcart_cart_col_sku">###WTCART_LL_SKU###</div>
			<div class="wtcart_cart_col wtcart_cart_col_price wtcart_cart_right">###WTCART_LL_PRICE###</div>
			<div class="wtcart_cart_col wtcart_cart_col_qty wtcart_cart_center">###WTCART_LL_QTY###</div>
			<div class="wtcart_cart_col wtcart_cart_col_total wtcart_cart_right">###WTCART_LL_PRICE_TOTAL###</div>
			<div class="wt_cart_cleaner"><!-- --></div>
		</div>
		<div class="wtcart_cart_product">
			<!-- ###CONTENT### begin -->
			<!-- ###ITEM### begin -->
			<div class="wtcart_cart_col wtcart_cart_col_title">###TITLE###</div>
			<div class="wtcart_cart_col wtcart_cart_col_sku">###SKU###</div>
			<div class="wtcart_cart_col wtcart_cart_col_price wtcart_cart_right">###PRICE###</div>
			<div class="wtcart_cart_col wtcart_cart_col_qty wtcart_cart_center">###QTY###</div>
			<div class="wtcart_cart_col wtcart_cart_col_total wtcart_cart_right">###PRICE_TOTAL###</div>
			<div class="wt_cart_cleaner"><!-- --></div>
			<div class="wtcart_cart_col_error">###ERROR_MSG###</div>
			<!-- ###ITEM### end -->
			<!-- ###VARIANTITEM### begin -->
			<!-- ###VARIANTITEMALL### begin -->
			<div class="wtcart_cart_col wtcart_cart_col_title wtcart_cart_itemall">###TITLE###</div>
			<div class="wtcart_cart_col wtcart_cart_col_sku wtcart_cart_itemall">&nbsp;</div>
			<div class="wtcart_cart_col wtcart_cart_col_price wtcart_cart_itemall">&nbsp;</div>
			<div class="wtcart_cart_col wtcart_cart_col_qty wtcart_cart_itemall wtcart_cart_center">###QTY###</div>
			<div class="wtcart_cart_col wtcart_cart_col_total wtcart_cart_itemall wtcart_cart_right">###PRICE_TOTAL###</div>
			<div class="wt_cart_cleaner"><!-- --></div>
			<div class="wtcart_cart_col_error">###ERROR_MSG###</div>
			<!-- ###VARIANTITEMALL### end -->
			<!-- ###VARIANTITEMVARIANT### begin -->
			<div class="wtcart_cart_col wtcart_cart_col_title">###TITLE_WITH_VARIANTS###</div>
			<div class="wtcart_cart_col wtcart_cart_col_sku">###SKU_WITH_VARIANTS###</div>
			<div class="wtcart_cart_col wtcart_cart_col_price wtcart_cart_right">###PRICE###</div>
			<div class="wtcart_cart_col wtcart_cart_col_qty wtcart_cart_center">###QTY###</div>
			<div class="wtcart_cart_col wtcart_cart_col_total">###PRICE_TOTAL###</div>
			<div class="wt_cart_cleaner"><!-- --></div>
			<div class="wtcart_cart_col_error">###ERROR_MSG###</div>
			<!-- ###VARIANTITEMVARIANT### end -->
			<!-- ###VARIANTITEM### end -->
			<!-- ###CONTENT### end -->
		</div>
		<div class="wtcart_cart_footer">
			<div class="wtcart_cart_col wtcart_cart_foot_col1 wtcart_cart_netnoservice">###WTCART_LL_CART_NET###</div>
			<div class="wtcart_cart_col wtcart_cart_foot_col2 wtcart_cart_netnoservice">###CART_NET_NO_SERVICE###</div>
			<div class="wt_cart_cleaner"><!-- --></div>
			<div class="wtcart_cart_col wtcart_cart_foot_col1 wtcart_cart_servicecost">###WTCART_LL_SERVICE_COST###</div>
			<div class="wtcart_cart_col wtcart_cart_foot_col2 wtcart_cart_servicecost">###SERVICE_COST_NET###</div>
			<div class="wt_cart_cleaner"><!-- --></div>
			<div class="wtcart_cart_col wtcart_cart_foot_col1 wtcart_cart_tax">###TAXCLASS_1_STRING### ###TAXCLASS_2_STRING### ###TAXCLASS_3_STRING###</div>
			<div class="wtcart_cart_col wtcart_cart_foot_col2 wtcart_cart_tax">###CART_TAX_1### ###CART_TAX_2### ###CART_TAX_3###</div>
			<div class="wt_cart_cleaner"><!-- --></div>
			<div class="wtcart_cart_col wtcart_cart_foot_col1 wtcart_cart_gross">###WTCART_LL_GROSS_TOTAL###</div>
			<div class="wtcart_cart_col wtcart_cart_foot_col2 wtcart_cart_gross">###CART_GROSS###</div>
			<div class="wt_cart_cleaner"><!-- --></div>
		</div>
		<div>###WTCART_LL_SHIPPING### ###SHIPPING_OPTION###</div>
		<div>###WTCART_LL_PAYMENT### ###PAYMENT_OPTION###</div>
		<div>###WTCART_LL_SPECIAL### ###SPECIAL_OPTION###</div>
	</form>
</div>
<!-- ###WTCART_CONFIRMATION### end -->

<!-- ###WTCART_SHIPPING### begin -->
<div id="wtcart_shipping">
    <fieldset>
        <legend>###WTCART_LL_SHIPPING###</legend>
        <!-- ###CONTENT### --><!-- ###ITEM### -->
        <div class="wtcart_cart_fieldwrap_radio">###SHIPPING_RADIO### ###SHIPPING_TITLE### ###SHIPPING_CONDITION###</div>
        <!-- ###ITEM### --><!-- ###CONTENT### -->
    </fieldset>
</div>
<!-- ###WTCART_SHIPPING### end -->


<!-- ###WTCART_SHIPPING_CONDITIONS### begin -->
<ul class="wtcart_shipping_conditions">
    <!-- ###CONTENT### --><!-- ###ITEM### -->
    <li>###CONDITION###</li>
    <!-- ###ITEM### --><!-- ###CONTENT### -->
</ul>
<!-- ###WTCART_SHIPPING_CONDITIONS### end -->


<!-- ###WTCART_PAYMENT### begin -->
<div id="wtcart_payment">
    <fieldset>
        <legend>###WTCART_LL_PAYMENT###</legend>
        <!-- ###CONTENT### --><!-- ###ITEM### -->
        <div class="wtcart_cart_fieldwrap_radio">###PAYMENT_RADIO### ###PAYMENT_TITLE### ###PAYMENT_CONDITION###</div>
        <!-- ###ITEM### --><!-- ###CONTENT### -->
    </fieldset>
</div>
<!-- ###WTCART_PAYMENT### end -->


<!-- ###WTCART_PAYMENT_CONDITIONS### begin -->
<ul class="wtcart_payment_conditions">
    <!-- ###CONTENT### --><!-- ###ITEM### -->
    <li>###CONDITION###</li>
    <!-- ###ITEM### --><!-- ###CONTENT### -->
</ul>
<!-- ###WTCART_PAYMENT_CONDITIONS### end -->


<!-- ###WTCART_SPECIAL### begin -->
<div id="wtcart_special">
    <fieldset>
        <legend>###WTCART_LL_SPECIAL###</legend>
        <!-- ###CONTENT### --><!-- ###ITEM### -->
        <div class="wtcart_cart_fieldwrap_checkbox">###SPECIAL_CHECKBOX### ###SPECIAL_TITLE### ###SPECIAL_CONDITION###</div>
        <!-- ###ITEM### --><!-- ###CONTENT### -->
    </fieldset>
</div>
<!-- ###WTCART_SPECIAL### end -->


<!-- ###WTCART_SPECIAL_CONDITIONS### begin -->
<ul class="wtcart_special_conditions">
    <!-- ###CONTENT### --><!-- ###ITEM### -->
    <li>###CONDITION###</li>
    <!-- ###ITEM### --><!-- ###CONTENT### -->
</ul>
<!-- ###WTCART_SPECIAL_CONDITIONS### end -->

<!-- ###WTCART_ADDITIONAL### begin -->
<div id="wtcart_additional">
    <fieldset>
        <legend>###WTCART_LL_ADDITIONAL###</legend>
        <!-- ###CONTENT### --><!-- ###ITEM### -->
        <div class="wtcart_cart_additional_item">###ADDITIONAL_TITLE###</div>
        <!-- ###ITEM### --><!-- ###CONTENT### -->
    </fieldset>
</div>
<!-- ###WTCART_ADDITIONAL### end -->

<!-- ###WTCART_EMPTY### begin -->
<div class="wtcart_cart_empty">###WTCART_LL_EMPTY###</div>
<!-- ###WTCART_EMPTY### end -->


<!-- ###WTCART_POWERMAIL### begin -->
<table width="550" cellpadding="3" cellspacing="0" border="0" style="width:550px;">
    <tr style="height:20px; background:#3d3a37; border-bottom:1px solid #ffffff;">
        <th style="font-weight:bold; color:#ffffff; text-align:left;">###WTCART_LL_TITLE###</th>
        <th style="font-weight:bold; color:#ffffff; text-align:left;">###WTCART_LL_SKU###</th>
        <th style="font-weight:bold; color:#ffffff; text-align:right;">###WTCART_LL_PRICE###</th>
        <th style="font-weight:bold; color:#ffffff; text-align:center;">###WTCART_LL_QTY###</th>
        <th style="font-weight:bold; color:#ffffff; text-align:right;">###WTCART_LL_PRICE_TOTAL###</th>
    </tr>
    <!-- ###CONTENT### begin -->
    <!-- ###ITEM### begin -->
    <tr style="background:#eac53f; color:#565b61;">
        <td>###TITLE###</td>
        <td>###SKU###</td>
        <td style="text-align:right;">###PRICE###</td>
        <td style="text-align:center;">###QTY###</td>
        <td style="text-align:right;">###PRICE_TOTAL###</td>
    </tr>
    <!-- ###ITEM### -->
    <!-- ###VARIANTITEM### begin -->
    <!-- ###VARIANTITEMALL### begin -->
    <tr style="background:#e3b42d; color:#565b61;">
        <td>###TITLE###</td>
        <td><!-- --></td>
        <td><!-- --></td>
        <td style="text-align:center;">###QTY###</td>
        <td style="text-align:right;">###PRICE_TOTAL###</td>
    </tr>
    <!-- ###VARIANTITEMALL### end -->
    <!-- ###VARIANTITEMVARIANT### begin -->
    <tr style="background:#eac53f; color:#565b61;">
        <td>###TITLE_WITH_VARIANTS###</td>
        <td>###SKU_WITH_VARIANTS###</td>
        <td style="text-align:right;">###PRICE###</td>
        <td style="text-align:center;">###QTY###</td>
        <td style="text-align:left;">###PRICE_TOTAL###</td>
    </tr>
    <!-- ###VARIANTITEMVARIANT### end -->
    <!-- ###VARIANTITEM### end -->
    <!-- ###CONTENT### end -->
    <tr style="background:#3d3a37; border-top:1px solid #ffffff;">
        <td style="text-align:right;" colspan="4">###WTCART_LL_CART_NET###</td>
        <td style="text-align:right;">###CART_NET_NO_SERVICE###</td>
    </tr>
    <tr style="background:#3d3a37;">
        <td style="text-align:right;" colspan="4">###WTCART_LL_SERVICE_COST###</td>
        <td style="text-align:right;">###SERVICE_COST_NET###</td>
    </tr>
    <tr style="background:#3d3a37;">
        <td style="text-align:right;" colspan="4">###TAXCLASS_1_STRING### ###TAXCLASS_2_STRING### ###TAXCLASS_3_STRING###</td>
        <td style="text-align:right;">###CART_TAX_1### ###CART_TAX_2### ###CART_TAX_3###</td>
    </tr>
    <tr style="background:#3d3a37;">
        <td style="text-align:right;" colspan="4">###WTCART_LL_GROSS_TOTAL###</td>
        <td style="text-align:right;">###CART_GROSS###</td>
    </tr>
</table>
<br/>
<p>###WTCART_LL_SHIPPING### ###SHIPPING_OPTION###</p>
<p>###WTCART_LL_PAYMENT### ###PAYMENT_OPTION###</p>
<p>###PAYMENT_NOTE###</p>
<p>###WTCART_LL_SPECIAL### ###SPECIAL_OPTION###</p>
<p>###ADDITIONAL_LIST###</p>
<!-- ###WTCART_POWERMAIL### end -->


<!-- ###WTCART_FORM### begin -->
<div class="wtcart_form">
    <form action="###WTCART_FORM_ACTION###">
        <input type="hidden" value="###WTCART_FORM_CONTENTUID###" name="cid">
        <input type="hidden" value="###WTCART_FORM_ACTION_PID###" name="id">
        <input type="text" value="1" name="qty">
        <input type="submit" value="###WTCART_LL_FORM_SUBMIT###">
    </form>
</div>
<!-- ###WTCART_FORM### end -->


<!-- ###WTCART_MINICART### begin -->
<div class="wtcart_minicart">
    <div>###MINICART_COUNT###</div>
    <div>###MINICART_GROSS###</div>
    <div>###MINICART_LINK###</div>
</div>
<!-- ###WTCART_MINICART### end -->


<!-- ###WTCART_MINICART_EMPTY### begin -->
<div class="wtcart_minicart_empty">###WTCART_LL_MINICART_EMPTY###</div>
<!-- ###WTCART_MINICART_EMPTY### end -->